.main-content
  .chat-header
    .chat-header--left
      %h2 #{chat_group.name}
      .chat-header__users
        Members:
        - chat_group.users.each do |user|
          %span.chat-header__user #{user.name}
    .chat-header--right
      = link_to 'Edit', edit_chat_group_path(chat_group), class: 'chat-header__edit-btn'
  .chat-body
    %ul.chat-messages
      = render chat_group.messages
  .chat-footer
    = form_for [chat_group, message] do |f|
      .chat-footer__body
        = f.text_area :text, placeholder: 'type a message', id: 'message_body'
        %label#img__icon{ for: 'img__file' }
          = fa_icon 'image'
          %input#img__file{ type: 'file' }
      = f.submit 'Send', class: 'send-btn'
