= render partial: 'common/notification'
.contents
  .side-content
    .chat-user
      .chat-user__name
        %h5 #{ current_user.name }
      .chat-user__actions
        = link_to new_chat_group_path, class: 'chat-user__new-group-action' do
          = fa_icon 'pencil-square-o'
        = link_to edit_user_registration_path, class: 'chat-user__edit-action' do
          = fa_icon 'cog'
    %ul.chat-groups
      - @chat_groups.each do |chat_group|
        %li.chat-group
          = link_to chat_group_path(chat_group), class: 'chat-group__link' do
            %p.chat-group__name #{ chat_group.name }
            %p.chat-group__message
              yeah!
  = render 'show', chat_group: @chat_group if @chat_group.present?
